<!DOCTYPE html>
<html>
    <head>
        <%- include("partials/head.ejs") %>
        <title>Contact Devin</title>
    </head>
    <body>
        <%- include("partials/logo.ejs") %>
        <%- include("partials/nav.ejs") %>
        <div class="contaniner-body">

            <h2 class="center">Thank you for your interest!</h2>
            <p class="center">Fill out the form to join my contact list.</p>
            
            <div class="container">
                <form action="/thanks" method="POST">
                    <div class="row">
                        <div class="col-25">
                            <label for="firstName">First Name:</label>
                        </div>
                        <div class="col-75">
                            <input type="text" name="firstName" id="firstName" placeholder="Your first name..." />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-25">
                            <label for="lastName">Last Name:</label>
                        </div>
                        <div class="col-75">
                            <input type="text" name="lastName" id="lastName" placeholder="Your last name..." />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-25">
                            <label forid="email">Email:</label>
                        </div>
                        <div class="col-75">
                            <input type="email" name="email" id="email" placeholder="Your email..." />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-25">
                            <label for="phoneNumber">Phone Number:</label>
                        </div>
                        <div class="col-75">
                            <input type="number" name="phoneNumber" id="phoneNumber" placeholder="Your phone #..." />
                        </div>
                    </div>

                    <div class="row">
                        <input type="submit" />
                    </div>
                </form>
            </div>
            <%- include("partials/footer.ejs") %>
        </div>
        <!--CDN link for  TweenMax-->
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenMax.min.js"></script>
        <script src="/script.js"></script> -->
        </body>
</html>