<!DOCTYPE html>
<html>
    <head>
        <%- include("partials/head.ejs") %>
        <link rel="stylesheet" href="/css/proj-style.css" />
        <title>Devin's Projects</title>
    </head>
    <body>
        <%- include("partials/logo.ejs") %>
        <%- include("partials/nav.ejs") %>
        
        <div class="title projects">
            <h1><a href="https://github.com/dmlsthe1" target="_blank" class="my-profile">My Projects</a></h1>
            <hr class="title-underline"></hr>
        </div>

        <div class="container proj-grid">

            <div class="proj-div-img proj1">
                <a href="https://github.com/dmlsthe1/startnow-web101-astro-weight-calculator" target="_blank"><img class="proj-img" src="./img/astro-web.png" /></a>
            </div>
            <div class="proj-div-img proj2">
                <a href="https://github.com/dmlsthe1/startnow-web101-change-calculator" target="_blank"><img class="proj-img" src="./img/change-calc-web.png" /></a>
            </div>
            <div class="proj-div-img proj3">
                <a href="https://github.com/dmlsthe1/startnow-react100-workshop" target="_blank"><img class="proj-img" src="./img/tictactoe-react.png" /></a>
            </div>
            <div class="proj-div-img proj4">
                <a href="https://github.com/dmlsthe1/startnow-react100-change-calculator" target="_blank"><img class="proj-img" src="./img/change-calc-react.png" /></a>
            </div>
            <div class="proj-div-img proj5">
                <a href="https://github.com/dmlsthe1/startnow-react100-mortgage-calculator" target="_blank"><img class="proj-img" src="./img/mortgage-calc-react.png" /></a>
            </div>
            <div class="proj-div-img proj6">
                <a href="https://github.com/dmlsthe1/startnow-react100-san-diego-top-spots" target="_blank"><img class="proj-img" src="./img/sd-top-spots-react.png" /></a>
            </div>
            <div class="proj-div-img proj7">
                <a href="https://github.com/dmlsthe1/startnow-react100-vstda" target="_blank"><img class="proj-img" src="./img/vstda-react.png" /></a>
            </div>

        </div>

        <!--CDN link for  TweenMax-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenMax.min.js"></script>
    </body>
</html>